.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 20px 80px;
}
.nav ul{
    display: flex;
    list-style: none;
    gap:15px;
}
ul li a{
    text-decoration: none;
}
#li1{
    color: #8987A1;
}
#i{
    margin-top: 3px;
    padding-left:15px ;
}
#li2{
    color: #252432;
    font-weight: 600;
}